*{
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.backgrounddiv{
    background-image: url("/Assets/Img/—Pngtree—modern\ double\ color\ futuristic\ neon_1181573.jpg");
}